/* black: rgb(61, 60, 60) */

* {
	margin: 0em;
	padding: 0em;
	font-size: 62.5%;
	border-style: none;
  list-style-type: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.8;
}
body {
  font-size: 1.8rem;
  font-weight: 400;
  display: grid;
  max-width: 100%;
  overflow-x: hidden;
}
@media (max-width: 1200px) {
  * {
    font-size: 40%;
  }
}
@media (max-width: 900px) {
  * {
    font-size: 35%;
  }
}
@media (max-width: 600px) {
  * {
    font-size: 20%;
  }
}
header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}
.navbar {
  transition: .5s;
}
.navbar.white-background {
  background-color: white;
}
.navbar ul {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.navbar li {
  display: inline-block;
  margin: 0 3rem;
  padding: 2rem;
}
.navbar a {
  text-decoration: none;
  color: rgb(61, 60, 60); 
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  position: relative;
  transition: .5s;
}
.navbar a::after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: rgb(61, 60, 60);
  transition: .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.navbar a:hover::after {
  width: 100%;
}
main {
  box-sizing: border-box;	
}
#welcome-section {
  background-image: url("https://images.pexels.com/photos/1023953/pexels-photo-1023953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}
#names {
  position: absolute;
  top: calc((100%/ 3) * 2);
  left: calc((100%/ 3) * 2);
}
#names h1 {
  font-size: 5rem;
  font-family: 'HGP行書体', 'ＭＳＰ明朝', 'MS PMincho', serif;
  animation: zoomin 5s linear;
  color: rgb(61, 60, 60);
}
@keyframes zoomin {
	0% {
    opacity: 0.0;
  }
	100% {
    opacity: 1.0;
	}
}
#projects {
  margin: 5rem 0;
  width: 100vw;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#project-title {
  text-align: center;
  margin-bottom: 8rem;
  position: relative;
  font-size: 4rem;
  padding-bottom: 2rem;
}
#project-title::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 0.3rem;
  background-color: rgb(61, 60, 60);
  bottom: 0;
  left: calc(50% - 7.5rem);
}
#project-title::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  background-color: rgb(250, 211, 217);
  border: 0.5rem solid white;
  left: calc(50% - 2rem);
  bottom: -1rem;
}
#project-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-box {
  width: calc(50% - 8rem);
  text-align: center;
  border: 1px solid rgb(250, 211, 217);
  border-radius: 6px;
  margin: 3rem 0;
  padding: 4rem 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.project-box a {
  text-decoration: none;
}
.project-box i {
  color: rgb(250, 211, 217);
  font-size: 3rem;
  margin-bottom: 1rem;
  transition: .5s;
}
.project-box h3,
.project-box p {
  color: rgb(61, 60, 60);
  font-size: 2.5rem;
}
.project-box p {
  text-transform: lowercase;
}
.project-box:hover {
  background-color: rgb(250, 211, 217);
}
.project-box:hover i {
  color: white;
}

footer {
  background: rgb(250, 211, 217);
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 2rem;
}




@media (max-width: 575.98px) {
  #welcome-section {
    background-attachment: local;
  }
  .project-box {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  #welcome-section {
    background-attachment: local;
  }
}